p{ 
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;

}

/* para class*/
.comum_1{
    color: orange;
    text-align: left;
}

